@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
.icon {
  width: 100px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #027a4f;
  border-radius: 4px;
  margin-bottom: 24px;
  text-align: center;
}
::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
input[type="submit"] {
  width: 200px;
  padding: 12px 0;
  color: #fff;
  background-color: #027a4f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20px;
}
div[class="plant_description"] {
  width: 60%;
  margin-bottom: 30px;
  text-indent: 5%;
}
h2 {
  font-size: 20px;
  margin-top: 40px;
}
.result {
  font-weight: normal;
  margin-left:60px;
  margin-right 60px;
}
table {
  border-collapse: collapse;
  width: 70%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-left:60px;
  margin-right:60px;
  margin-bottom: 60px;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  margin-left:60px;
  margin-right 60px;
}
td:nth-child(1){
  text-align: center;
}
td:nth-child(2){
  text-align: center;
}
tr.environment {
  background-color: #8fd6d7;
}
tr.planting {
  background-color: #b3d6a8;
}
tr.care {
  background-color: #d8c3a8;
}
td.col2_env {
  background-color: #e8f6f7;
}
td.col2_pl {	
  background-color: #e2efdd;
}
td.col2_ca {
  background-color: #f0e8de;
}
td.col3_env {
  text-align: left;
  background-color: #e8f6f7;
}
td.col3_pl {
  text-align: left;
  background-color: #e2efdd;
}
td.col3_ca {
  text-align: left;
  background-color: #f0e8de;
}
