<!DOCTYPE html>
<html>
<head>
  <title>Plant Sage</title>
  <link rel="shortcut icon" href="https://github.com/anaptak/PlantSage/raw/main/static/plantsage_logo.PNG" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="https://github.com/anaptak/PlantSage/raw/main/static/plantsage_logo.PNG" class="icon" />
  <h3>Plant Sage</h3>
  <form action="/" method="post">
    <input type="text" name="plant" placeholder="Enter the Name of a Plant" required />
    <input type="submit" value="Get Info" />
  </form>
  {% if conditions %}
    <h2>{{ request.form.plant }}</h2>
    <table class="result">
      <tbody>
        <div class="plant_description">{{ plant_description }}</div>

        <!-- Rest of the HTML code... -->

      </tbody>
    </table>
  {% endif %}
</body>
</html>

