<!DOCTYPE html>
<html>
<head>
  <title>Plant Sage</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='plantsage_logo_transparent.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <style>
    body {
        background-image: url("{{ url_for('static', filename='background_earth_cropped.png') }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }
  </style>
</head>


<body>
  
  <img src="{{ url_for('static', filename='plantsage_logo_transparent.png') }}" class="icon" />
  <h3>Plant Sage</h3>
  
  <form action="/" method="post">
    <input type="text" name="plant" placeholder="Enter the Name of a Plant" required />
    <input type="submit" value="Get Info" />
  </form>
 
    {% if conditions %}
   
    <div class="dirt"><i>Here's the dirt on...</i></div>
    <h2>{{ request.form.plant }}</h2>
    <div class="plant_description">{{ plant_description }}</div>


    <table class="result">
      <tbody>

        <tr class="environment">
          <td rowspan="4">Environment</td>
          <td class="col2_env"><b>{{ conditions[0].type }}</b></td>
          <td class="col3_env">{{ conditions[0].answer }}</td>
        </tr>
        <tr class="environment">
          <td class="col2_env"><b>{{ conditions[1].type }}</b></td>
          <td class="col3_env">{{ conditions[1].answer }}</td>
        </tr>
        <tr class="environment">
          <td class="col2_env"><b>{{ conditions[2].type }}</b></td>
          <td class="col3_env">{{ conditions[2].answer }}</td>
        </tr>
        <tr class="environment">
          <td class="col2_env"><b>{{ conditions[3].type }}</b></td>
          <td class="col3_env">{{ conditions[3].answer }}</td>
        </tr>

        <tr class="planting">
          <td rowspan="4">Planting</td>
          <td class="col2_pl"><b>{{ conditions[4].type }}</b></td>
          <td class="col3_pl">{{ conditions[4].answer }}</td>
        </tr>
        <tr class="planting">
          <td class="col2_pl"><b>{{ conditions[5].type }}</b></td>
          <td class="col3_pl">{{ conditions[5].answer }}</td>
        </tr>
        <tr class="planting">
          <td class="col2_pl"><b>{{ conditions[6].type }}</b></td>
          <td class="col3_pl">{{ conditions[6].answer }}</td>
        </tr>
        <tr class="planting">
          <td class="col2_pl"><b>{{ conditions[7].type }}</b></td>
          <td class="col3_pl">{{ conditions[7].answer }}</td>
        </tr>

        <tr class="care">
          <td rowspan="4">Care</td>
          <td class="col2_ca"><b>{{ conditions[8].type }}</b></td>
          <td class="col3_ca">{{ conditions[8].answer }}</td>
        </tr>
        <tr class="care">
          <td class="col2_ca"><b>{{ conditions[9].type }}</b></td>
          <td class="col3_ca">{{ conditions[9].answer }}</td>
        </tr>
        <tr class="care">
          <td class="col2_ca"><b>{{ conditions[10].type }}</b></td>
          <td class="col3_ca">{{ conditions[10].answer }}</td>
        </tr>
        <tr class="care">
          <td class="col2_ca"><b>{{ conditions[11].type }}</b></td>
          <td class="col3_ca">{{ conditions[11].answer }}</td>
        </tr>

      </tbody>
    </table>

  {% endif %}

</body>

</html>
